:host {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  min-height: 100px;
  position: relative;
  text-align: left;
  transition: height 150ms ease;
  width: 100%;
}

:host div {
  position: relative;
}

:host ::ng-deep label,
:host ::ng-deep input[mcInput],
:host ::ng-deep mc-input-error {
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

:host ::ng-deep label {
  font-size: 1rem;
  transition-property: color;
}

:host ::ng-deep input[mcInput] {
  border: 2px solid #e2e8f0;
  border-radius: 0.25rem;
  color: #4a5568;
  margin-top: 0.25rem;
  outline: none;
  padding: 0.5rem;
  transition-property: border;
  width: 100%;
  z-index: 10;
}

:host ::ng-deep input[mcInput]:focus {
  border-color: #80868f;
}

:host ::ng-deep mc-input-error {
  opacity: 0;
  transition-property: all;
  transform: translateY(-50%);
}

:host(.mc-input-error) ::ng-deep label {
  color: #c53030;
}

:host(.mc-input-error) ::ng-deep input[mcInput] {
  border-color: #f56565;
}

:host(.mc-input-error) ::ng-deep mc-input-error {
  opacity: 1;
  transform: translateY(0);
}

:host(.mc-input-valid) ::ng-deep input[mcInput] {
  border-color: #48bb78;
}
